@import 'tailwindcss';

@theme {
  --color-primary-color: #C92071;
  --color-secondary-color: #B5B6F2;
  --color-tertiary-color: #991956;
  --color-error-color: #EE4266;
  --color-success-color: #52CA76;
  --color-warning-color: #F6AA1C;
  --color-info-color: #D8E3F2;
  --color-offer-color: #E7FF86;
  --color-background-color: #F9F8FE;

  --color-dark-gray-color: #1F1F1F;
  --color-dark-gray-2-color: #474747;
  --color-dark-gray-3-color: #666666;
  --color-light-gray-color: #8F8F8F;
  --color-light-gray-2-color: #CCCCCC;
  --color-light-gray-3-color: #F5F5F5;
  --color-white-color: #FFFFFF;
}

img svg:active {
  fill: var(--color-primary-color);
}